.slick-next::before,
.slick-prev::before {
  content: none;
}
/* .slick-dots {
  .slick-active {
    button::before {
      color: #c1c1c1;
    }
  }
  button::before {
    color: #e9e9e9;
  }
} */

.slick-dots .slick-active button::before {
  color: white !important;
}
.slick-dots button::before {
  color: #e9e9e9;
}
.slick-dots {
  bottom: 12px !important;
}
.slick-dots li {
  width: 8px !important;
  margin: 0px 4px !important;
  /* width: 10px !important; */
}
.slick-dots li button:before {
  font-size: 10px !important;
}
.slick-dots {
  position: absolute;
  top: 55%;
  /* top: 80%; */
  font-size: 17px;
  line-height: 29px;
  left: 4%;
  font-weight: 600;
  width: auto !important;

  .slick-active {
    display: block !important;
  }
  .customPaging {
    display: flex;
    width: 100px;
    gap: 10px;
  }
}

.slick-dots li {
  display: none !important;
}
.slick-dots li {
  display: none !important;
}

::-webkit-scrollbar {
  display: initial;
}
/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
  width: 5px; /* 가로 스크롤바의 높이 또는 세로 스크롤바의 너비 */
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}
/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  /* background: rgba(0, 0, 0, 0.3); */
  border-radius: 10px; /* 둥근 모서리 */
}
