@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-gradient {
  background: var(
    --Gradient-1,
    linear-gradient(121deg, #f9c00f 3.88%, #e62419 59.99%, #21499c 115.85%)
  );
}
.text-gradient {
  background: var(
    --Gradient-1,
    linear-gradient(121deg, #f9c00f 3.88%, #e62419 59.99%, #21499c 115.85%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
