@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);

  font-family: 'Noto Sans', sans-serif;
  user-select: none;
}

.bg-gradient {
  background: #7595ec;

  /* var(
    --Gradient-1,
    linear-gradient(121deg, #f9c00f 3.88%, #e62419 59.99%, #21499c 115.85%)
  ); */
}
.text-gradient {
  color: #7595ec;
  /* background: 
  var(
    --Gradient-1,
    linear-gradient(121deg, #f9c00f 3.88%, #e62419 59.99%, #21499c 115.85%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.text-primary {
  color: #685c41;
}

.bg-primary-red {
  background: #f16a51;
}

.text-primary-red {
  color: #f16a51;
}
